/* .modal-content {
  width: 624px;
  height: 482px;
  top: 199px;
  left: 349px;
  border-radius: 20px;
} */

#signInHeader {
  text-align: center;
  font-size: 25px;
  padding: 20px;
}
.loginButton {
  width: 129px;
  margin: 50px auto;
  margin-left: 40%;
  border-radius: 20px;
  width: 129px;
  height: 45px;
  background-color: #73abff;
  cursor: pointer;
}
/* form {
  display: grid;
  grid-template-rows: auto auto;
} */
.formInput-container {
  display: grid;
  grid-template-columns: auto auto;
  margin: 10px;
}
.input-label {
  margin-top: 10px;
  margin-right: 50px;
}

input,
select,
textarea {
  outline: 0;
  border: 0;
  font-size: 17px;
}
.text-area {
  height: 65px;
  width: 280px;
  margin: 10px;
  border-radius: 1px;
  border: 2px solid #090808;
  padding-left: 10px;
}
.input-box {
  height: 35px;
  width: 280px;
  margin: 10px;
  border-radius: 1px;
  border: 2px solid #090808;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.input-box img {
  width: 30px;
  height: 24px;
}
img {
  cursor: pointer;
}
.previousButton,
.nextButton,
.postButton {
  width: 129px;
  margin: 20px auto;
  border-radius: 20px;
  border-color: rgb(253, 255, 255);
  width: 129px;
  height: 45px;
  cursor: pointer;
  color: white;
}
.previousButton {
  background-color: #61d057;
}
.nextButton {
  background-color: #73abff;
}
.postButton {
  margin-left: 140px;
  background-color: #ff7373;
}
